.countryBody{
   margin-left: 3%;
}
.countriesStyle{
    display: flex;
    float: left;
    width: 45%;
    border: 1px solid lightskyblue;
    margin-right: 10px;
    margin-top: 1opx;
    margin-bottom: 5px;
}
.countriesFlag{
    margin-right: 5px;
    height: 50px;
    padding: 10px;
}
.countriesFlag img{
    height: 80px;
    width: 160px;
}
.countriesFlag button{
    margin-left: 20px;
    background-color: tomato;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    color: white;
}
.countriesFlag button:hover{
    background-color: violet;
    color: blueviolet;
}
.countriesInfo{
    float: right;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;

}